*.db
*.py[cod]
.cursorignore
.env
.venv/
.vscode/
.web
/venv/*
Caddyfile
__pycache__/
assets/external/
remote_config/caddyfile
coderamp_venv/
coderamp/test.py
coderamp/coderamp_lib/caddy_templates/caddyfile
